@import "tailwindcss";

@theme {
  /* Overrides the default 'font-sans' used on the body and paragraphs */
  --font-sans: var(--font-primary), ui-sans-serif, system-ui, sans-serif;
  
  /* Hijacks your existing 'font-lato' class so you don't have to rename it in every file */
  --font-lato: var(--font-heading), serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}