@import "tailwindcss";

@theme {
  /* Maps text-sans and font-sans to Open Sans */
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
  
  /* Maps font-lato to Lato */
  --font-lato: var(--font-lato), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}